<p id="notice"><%= notice %></p>

<h1>Admins Aquaria</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_aquaria.each do |admins_aquarium| %>
      <tr>
        <td>admins_aquarium.name</td>
        <td><%= link_to 'Show', admins_aquarium %></td>
        <td><%= link_to 'Edit', edit_admins_aquarium_path(admins_aquarium) %></td>
        <td><%= link_to 'Destroy', admins_aquarium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admins Aquarium', new_admins_aquarium_path %>
